@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Raleway:400,500,700");

/*
	Retrospect by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Significantly modified and simplified for use by Liam Rethore
*/

/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  /* height: 100% /*NEW THING */
  font: helvetica;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  display: flex; /* NEW THING*/
  flex-direction: column;
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

/* Smash footer to bottom of page */
#content-wrapper {
  flex: 1 0 auto;
}

/* Type */

body {
  background-color: #d9d9d9;
  color: #25383b;
}

body,
input,
select,
textarea {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 13pt;
  font-weight: 400;
  line-height: 2em;
}

@media screen and (max-width: 1680px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

@media screen and (max-width: 1280px) {
  body,
  input,
  select,
  textarea {
    font-size: 11pt;
  }
}

@media screen and (max-width: 980px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 736px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

@media screen and (max-width: 480px) {
  body,
  input,
  select,
  textarea {
    font-size: 12pt;
  }
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p {
  margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  line-height: 1em;
  margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
}

h2 {
  font-size: 1.5em;
  line-height: 1.5em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.5em;
}

h4 {
  font-size: 1.1em;
  line-height: 1.5em;
}

h5 {
  font-size: 0.9em;
  line-height: 1.5em;
}

h6 {
  font-size: 0.7em;
  line-height: 1.5em;
}

a {
  color: black; /* Link Color*/
  text-decoration: none;
}

strong,
b {
  color: #25383b;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #25383b;
}

/* Section/Article */

section.special,
article.special,
header.special {
  text-align: center;
}

header p {
  margin: 0 0 1.5em 0;
  position: relative;
  text-transform: uppercase;
}

header h2 + p {
  font-size: 1.25em;
  margin-top: -1em;
  line-height: 1.85em;
}

header h3 + p {
  font-size: 1.1em;
  margin-top: -0.8em;
  line-height: 1.5em;
}

header h4 + p,
header h5 + p,
header h6 + p {
  font-size: 0.9em;
  margin-top: -0.6em;
  line-height: 1.5em;
}

header.major {
  margin-bottom: 4em;
}

header.major h2 {
  font-size: 2.5em;
}

header.narrow {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1280px) {
  header.narrow {
    max-width: 75%;
  }
}

@media screen and (max-width: 980px) {
  header.narrow {
    max-width: 100%;
  }
  header.major {
    margin-bottom: 2em;
  }
  header.major h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 736px) {
  header.major h2 {
    font-size: 1.5em;
  }
  header.major p {
    font-size: 1em;
  }
}

header p {
  color: #25383b;
}

/* Icon */

.icon {
  text-decoration: none;
  border-bottom: none;
  position: relative;
}

.icon:before {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

.icon > .label {
  display: none;
}

/* Image */

.image {
  border-radius: 0;
  border: 0;
  display: inline-block;
  position: relative;
}

.image img {
  border-radius: 0;
  display: block;
}

.imgadj {
  border-radius: 0;
  border: 0;
  display: inline-block;
  position: relative;
}

.imgresspond {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5 ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.imgadj:hover .imgresspond {
  opacity: 0.3;
}

.imgadj:hover .middle {
  opacity: 1;
}

.text {
  color: black;
  font-size: 20px;
  padding: 16px 32px;
  font: bold;
}

.image.left,
.image.right {
  max-width: 40%;
}

.image.left img,
.image.right img {
  width: 100%;
}

.image.left {
  float: left;
  padding: 0 1.5em 1em 0;
  top: 0.25em;
}

.image.right {
  float: right;
  padding: 0 0 1em 1.5em;
  top: 0.25em;
}

.image.fit {
  display: block;
  margin: 0 0 2em 0;
  width: 100%;
}

.image.fit img {
  width: 100%;
}

.image.main {
  display: block;
  margin: 0 0 3em 0;
  width: 100%;
}

.image.main img {
  width: 100%;
}

/* List */

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  margin: 0 0 2em 0;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

/* Button */

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: 2.5em;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-weight: 500;
  height: 2.85em;
  line-height: 2.95em;
  min-width: 10em;
  padding: 0 1.5em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

input[type="submit"].icon,
input[type="reset"].icon,
input[type="button"].icon,
button.icon,
.button.icon {
  padding-left: 1.35em;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
button.small,
.button.small {
  font-size: 0.8em;
  margin: 0 auto;
}

input[type="submit"].big,
input[type="reset"].big,
input[type="button"].big,
button.big,
.button.big {
  font-size: 1.2em;
  height: 3.25em;
  line-height: 3.25em;
  padding: 0 2.5em;
}

@media screen and (max-width: 980px) {
  input[type="submit"].big,
  input[type="reset"].big,
  input[type="button"].big,
  button.big,
  .button.big {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  input[type="submit"],
  input[type="reset"],
  input[type="button"],
  button,
  .button {
    padding: 0;
  }
}

input[type="submit"],
input[type="reset"],
input[type="button"],
button,
.button {
  background-color: #25383b;
  box-shadow: none;
  color: #fff !important;
}

input[type="submit"].special,
input[type="reset"].special,
input[type="button"].special,
button.special,
.button.special {
  background-color: transparent;
  border-color: white;
  border-style: solid;
  box-shadow: none;
  color: #fff !important;
}

/* Feature */

.feature {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 6em;
}

.feature:last-child {
  margin-bottom: 2em;
}

.feature.left {
  -moz-flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}

.feature.right {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.feature .image {
  width: 48%;
}

.feature .image img {
  max-width: 100%;
}

.feature .content {
  padding: 2em 3em 0.1em 3em;
  width: 52%;
}

@media screen and (max-width: 1280px) {
  .feature {
    margin-bottom: 4em;
  }
  .feature .content {
    padding: 1em 2em 0.1em 2em;
  }
}

@media screen and (max-width: 980px) {
  .feature.left,
  .feature.right {
    -moz-flex-direction: column;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .feature .image {
    width: 100%;
  }
  .feature .image img {
    width: 100%;
  }
  .feature .content {
    padding: 2em 2em 0.1em 2em;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .feature {
    margin-bottom: 2em;
  }
  .feature .content {
    padding: 2em 1em 0.1em 1em;
  }
}

.feature {
  background-color: #d9d9d9;
}

/* Wrapper */

.wrapper {
  padding: 8em 0 6em 0;
  position: relative;
}

.wrapper > .inner {
  margin: 0 auto;
  width: 70em;
}

.wrapper.style1 {
  background-color: #d9d9d9;
  color: #777;
}

.wrapper.style1 input[type="submit"],
.wrapper.style1 input[type="reset"],
.wrapper.style1 input[type="button"],
.wrapper.style1 button,
.wrapper.style1 .button {
  background-color: #555;
  box-shadow: none;
  color: #eee !important;
  margin: 0 auto;
}

.wrapper.style1 input[type="submit"].icon:before,
.wrapper.style1 input[type="reset"].icon:before,
.wrapper.style1 input[type="button"].icon:before,
.wrapper.style1 button.icon:before,
.wrapper.style1 .button.icon:before {
  color: #bbb;
}

.wrapper.style1 input[type="submit"]:hover,
.wrapper.style1 input[type="reset"]:hover,
.wrapper.style1 input[type="button"]:hover,
.wrapper.style1 button:hover,
.wrapper.style1 .button:hover {
  background-color: #626262;
}

.wrapper.style1 input[type="submit"]:active,
.wrapper.style1 input[type="reset"]:active,
.wrapper.style1 input[type="button"]:active,
.wrapper.style1 button:active,
.wrapper.style1 .button:active {
  background-color: #484848;
}

.wrapper.style3 {
  background-color: #4c4c4c;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/img/bannerBottom.jpg");
  background-size: cover;
}

.wrapper.style3 h1,
.wrapper.style3 h2,
.wrapper.style3 h3,
.wrapper.style3 h4,
.wrapper.style3 h5,
.wrapper.style3 h6 {
  color: #fff;
  text-align: center;
}

.wrapper.style3 input[type="submit"].alt,
.wrapper.style3 input[type="reset"].alt,
.wrapper.style3 input[type="button"].alt,
.wrapper.style3 button.alt,
.wrapper.style3 .button.alt {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff !important;
  margin: 0 auto;
}

.wrapper.style3 input[type="submit"].alt:hover,
.wrapper.style3 input[type="reset"].alt:hover,
.wrapper.style3 input[type="button"].alt:hover,
.wrapper.style3 button.alt:hover,
.wrapper.style3 .button.alt:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.wrapper.style3 input[type="submit"].alt:active,
.wrapper.style3 input[type="reset"].alt:active,
.wrapper.style3 input[type="button"].alt:active,
.wrapper.style3 button.alt:active,
.wrapper.style3 .button.alt:active {
  background-color: rgba(255, 255, 255, 0.1);
}

@media screen and (max-width: 1280px) {
  .wrapper {
    padding: 6em 0 4em 0;
  }
  .wrapper > .inner {
    width: 65em;
  }
}

@media screen and (max-width: 980px) {
  .wrapper {
    padding: 5em 3em 3em 3em;
  }
  .wrapper > .inner {
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  .wrapper {
    padding: 3em 2em 1em 2em;
  }
}

@media screen and (max-width: 480px) {
  .wrapper {
    padding: 2em 1em 0.1em 1em;
  }
}

/* Large Typed Pages */

#typed {
  text-align: left;
  line-height: 30px;
  font-size: 18px;
}

#typed-title {
  padding-top: 15px;
  text-align: center;
}

#typed-body {
  text-align: justify;
  padding-top: -10px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

#typed-next-post {
  text-align: center;
}

#typed-image {
  display: block;
  margin: 0 auto;
  border-radius: 0;
  border: 0;
  max-width: 100%;
  height: auto;
  width: auto\9;
}

/* Header */

body {
  padding-top: 3.125em;
}
body.landing {
  padding-top: 0;
}

@media screen and (max-width: 980px) {
  body {
    padding-top: 44px;
  }
}

#header {
  background: #393939;
  color: rgba(255, 255, 255, 0.75);
  cursor: default;
  height: 3.25em;
  left: 0;
  line-height: 3.25em;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 10001;
}

#header > h1 {
  color: #fff;
  display: inline-block;
  height: inherit;
  left: 1.25em;
  line-height: inherit;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
}

#header > h1 a {
  font-size: 1.25em;
}

#header a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #fff;
  display: inline-block;
  margin-right: 1.25em;
  text-decoration: none;
}

#header a[href="#nav"] {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

#header a[href="#nav"]:before {
  content: "ïƒ‰";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Raleway", Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  text-transform: none !important;
}

#header a[href="#nav"]:before {
  margin: 0 0.5em 0 0;
}

@media screen and (max-width: 980px) {
  body {
    padding-top: 44px;
  }
  #header {
    height: 44px;
    line-height: 44px;
  }
  #header > h1 {
    left: 1em;
  }
  #header > h1 a {
    font-size: 1em;
  }
  #header.alt {
    font-size: 1em;
  }
}

@media screen and (max-width: 480px) {
  #header {
    min-width: 320px;
  }
  #header > h1 {
    left: 1em;
  }
  #header.alt {
    padding: 0.5em 1em;
  }
}

/* Banner */

#banner {
  padding: 8em 0 6em 0;
  background-color: #393939;
  color: rgba(255, 255, 255, 0.75);
  background-attachment: fixed;
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("/img/banner.jpg");
  background-size: cover;
  text-align: center;
}

#banner input,
#banner select,
#banner textarea {
  color: #fff;
}

#banner a {
  color: #51baa4;
}

#banner strong,
#banner b {
  color: #fff;
}

#banner h1,
#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
  color: #fff;
}

#banner input[type="submit"],
#banner input[type="reset"],
#banner input[type="button"],
#banner button,
#banner .button {
  background-color: #fff;
  box-shadow: none;
  color: #1e2832 !important;
}

#banner input[type="submit"].special,
#banner input[type="reset"].special,
#banner input[type="button"].special,
#banner button.special,
#banner .button.special {
  background-color: transparent;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff !important;
}

#banner input[type="submit"].special:hover,
#banner input[type="reset"].special:hover,
#banner input[type="button"].special:hover,
#banner button.special:hover,
#banner .button.special:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

#banner h2 {
  font-size: 2.5em;
  margin: 0 0 0 0;
  padding: 0 0 0.5em 0;
}

#banner p {
  color: #fff;
  font-size: 1em;
  margin-bottom: 1em;
}

@media screen and (max-width: 1680px) {
  #banner {
    padding: 11em 0 9em 0;
  }
}

@media screen and (max-width: 1280px) {
  #banner {
    padding: 9em 0 7em 0;
  }
  #banner h2 {
    font-size: 2em;
  }
}

@media screen and (max-width: 980px) {
  #banner {
    padding: 8em 2em 6em 2em;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 5em 2em 3em 2em;
  }
  #banner h2 {
    font-size: 1.5em;
  }
  #banner p {
    font-size: 1em;
  }
  #banner .icon {
    font-size: 2em;
  }
}

@media screen and (max-width: 480px) {
  #banner {
    padding: 5em 2em 3em 2em;
  }
  #banner .icon {
    font-size: 1.5em;
  }
}

/* Footer */

#footer {
  flex-shrink: 0;

  width: 100%;
  background-color: #393939;
  color: rgba(255, 255, 255, 0.75);
  text-align: center;
}

#footer a {
  color: #51baa4;
}

#footer strong,
#footer b {
  color: #fff;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  color: #fff;
}

#footer a {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  color: #a5a9ad;
}

#footer a:active,
#footer a:focus,
#footer a:hover {
  color: #fff;
}

#footer .inner {
  padding: 6em 0 4em 0;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  margin: 0 auto;
  width: 75%;
}

#footer ul.icons li {
  padding-right: 2.5em;
}

#footer ul.icons li:last-child {
  padding-right: 0;
}

#footer .copyright {
  color: #a5a9ad;
  font-size: 0.9em;
  margin: 0 0 2em 0;
  padding: 0;
}

#footer .copyright li {
  display: inline-block;
  list-style: none;
  margin: 0 0.1em;
}

@media screen and (max-width: 980px) {
  #footer .inner {
    padding: 5em 0 3em 0;
    width: 100%;
  }
}

@media screen and (max-width: 736px) {
  #footer .inner {
    padding: 3em 0 1em 0;
  }
  #footer .copyright li {
    display: block;
    margin: 0;
  }
  #footer ul.icons li {
    font-size: 0.9em;
  }
}

@media screen and (max-width: 480px) {
  #footer .inner {
    padding: 2em 0 0.1em 0;
  }
}
