@font-face {
  /* found from https://www.cufonfonts.com/font/menlo */
  font-family: 'menlo';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/Menlo-Regular.ttf');
}

@font-face {
  /* found from https://www.onlinewebfonts.com/download/a6ffc5d72a96b65159e710ea6d258ba4 */
  font-family: 'menlo';
  font-weight: bold;
  font-style: bold;
  src: url('../fonts/Menlo\ Bold.ttf');
}

.arrayContainer {
  text-align: center;
  padding-top: 60px;
  background-color: #1c1c1c;
}

.arrayBar {
  width: 2px;
  background-color: #f3a33a;
  display: inline-block;
  margin: 0 1px;
}

.toolBar {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #1c1c1c;
  color: white;
  font-family: menlo;
  font-size: 10px;
}

.toolBar button {
  background: #1c1c1c;
  border-style: hidden;
  font-size: 12px;
  font-family: menlo;
  display: inline-block;
  margin-left: 25px;
  margin-right: 25px;
  cursor: pointer;
  color: white;
}

.toolBar button:hover {
  opacity: 25%;
}

.footerText {
  display: flex;
  justify-content: space-between;
  color: white;
  bottom: 0;
  padding-top: 3%;
  font-size: 9px;
}

.wrapper {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
  min-height: 100%;
  padding-bottom: 3.4rem;
}

.wrapper body {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
}

.wrapper footer {
  position: relative;
  bottom: 0;
  padding-top: 2rem;
  padding-left: 10px;
  padding-right: 10px;
  font-family: menlo;
  background-color: #1c1c1c;
}

.wrapper a {
  color: white;
  text-decoration: none;
}

.wrapper a:hover {
  color: #f3a33a;
}

.contentWrapper {
  flex: 1;
}

.title {
  background-color: #1c1c1c;
  color: white;
  font-size: 20px;
  font-family: menlo;
  font-style: regular;
  text-align: left;
  text-align: center;
}
